[submodule "vendors/sdl2"]
	path = vendors/sdl2
	url = https://github.com/LeonardoM011/SDL.git
	branch = release-2.24.x
[submodule "vendors/sdl-image"]
	path = vendors/sdl-image
	url = https://github.com/LeonardoM011/SDL_image.git
	branch = release-2.6.x