[submodule "vendors/sdl2"]
	path = vendors/sdl2
	url = https://github.com/LeonardoM011/SDL.git
[submodule "vendors/sdl2-image"]
	path = vendors/sdl2-image
	url = https://github.com/LeonardoM011/SDL_image.git
